h3 {
    color: #333333;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;  /* ← 가운데 정렬 여기서 */
}

th, td {
    border: 1px solid #aaaaaa;
    padding: 8px 12px;
    color: #333333;
    text-align: center;  /* ← 혹시 모르니 여기도 추가 */
}

thead tr {
    background-color: powderblue;
    color: white;
}
tbody {
    background-color: aliceblue;
}
.income {
    color:red;
}

.expense {
    color:blue;
}
a:hover {
    cursor:wait;
}
