.box1 {
    width : 1600px;
    height : 150px;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
}
.box2 {
    width : 1600px;
    height : 150px;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
}
.box3 {
    width : 1600px;
    height : 150px;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.beginner {
    color: green;
}

.middle {
    color:orange;
}

.advanced {
    color:red;
}

.enroll {
    color: #e8f4fd;
}